* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 18px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}

.section-one {
    display: flex;
    align-items: center;
    background-color: #161d23;
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-img {
    width: 200px;
}

.links {
    display: flex;
    color: #c49966;
    list-style: none;
    gap: 10px;
}

.hero {
    padding: 80px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 450px;
}

.hero-text p {
    color: #f9f2e9;
}

.hero-button {
    background-color: #c49966;
    padding: 12px;
    border-radius: 10px;
    max-width: 150px;
    color: #161d23;
    font-size: 18px;
    font-weight: 900;
}

#hero-img {
    width: 600px;
    height: 320px;
    display: flex;
}

.section-two {
        display: flex;
    align-items: center;
    background-color: #f9f2e9;
    padding: 24px;
    height: 500px;
}

.infos {
    display: flex;
    padding: 24px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info p {
    color: #161d23;
    text-align: center;
}

.info img {
    width: 200px;
}

.section-three {
        display: flex;
    align-items: center;
    background-color: #c49966;
    padding: 24px;
    height: 500px;
}

.quote {
    display: flex;
    flex-direction: column;

}

.quote p {
    text-align: end;
}

.section-four {
    display: flex;
    align-items: center;
    background-color: #4e6c6e;
    padding: 100px;
    height: 500px;
}

.box {
    display: flex;
    align-items: center;
    background-color: #f9f2e9;
    border-radius: 10px;
    padding: 50px;
    gap: 50px;
}

.box p {
    font-size: 12px;
}

.box button {
    background-color: #c49966;
    border-radius: 10px;
    width: 120px;
    height: 40px;
    color: #161d23;
    font-size: 18px;
    font-weight: 900;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #161d23;
    color: #f9f2e9;
    height: 75px;
}

blockquote {
    padding: 36px;
    font-size: 36px;
    font-weight: 300;
}


h1 {
    font-weight: 900;
    font-size: 48px;
    color: #c49966;
}

h2 {
    color: #161d23;
    text-align: center;
}