* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    min-height: 100vh;
    background-image: url(./images/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Courier New', Courier, monospace;

}

.game {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
}

.game-name img {
    width: min(500px, 90vw);
}

.scoreboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5d0a5;
    padding: 15px 100px;
    border: 3px solid black;
    border-radius: 15px;
    width: 500px;
}

.score {
    display: flex;
    gap: 5px;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;
}

.info {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 80px;

}

#com {
    color: #8f5140;
}

#player {
    color: #665275;
}

.results {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    font-size: 1rem;
    text-align: center;
}

.choices {
    display: flex;
    gap: 50px;
}

.choices img {
    width: min(250px, 28vw);
    display: block;
}

.choice {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.choice:hover {
    transform: scale(1.05);
}